html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.font-feature {
  font-feature-settings: "case" on;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  line-height: 22px;
}

.swiper-button-next::after,
.swiper-button-prev:after {
  font-size: 30px;
  color: #063776;
  font-weight: bold;
}
.swiper-pagination-bullet-active {
  background-color: #063776;
}
